$black_100: #30333a;
$black_200: #262930;
$black_300: #262930;
$black_400: #191c21;
$black_500: #111419;

$gray_100: #999da3;
$gray_200: #6d7279;
$gray_300: #404752;
$gray_400: #3d4a5d;

$white: #fff;
