$black_100: #30333a;
$black_200: #262930;
$black_300: #262930;
$black_400: #191c21;
$black_500: #111419;

$gray_50: #b3b4b5;
$gray_100: #999da3;
$gray_200: #697079;
$gray_300: #6d7279;
$gray_400: #404752;
$gray_500: #506681;
$gray_600: #3d4a5d;

$blue_50: #a3c8f1;

$white: #fff;
