.list {
  background: $black_400;
  height: 100%;
  width: 20rem;
  list-style: none;

  .list-item {
    display: flex;
    gap: 0.5rem;
    color: $gray_50;
    cursor: pointer;
    padding: 0.7rem;
    justify-content: unset;
    position: relative;

    &:hover {
      background: $black_300;
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 4px 0;

      &--name {
        font-weight: 800;
      }

      &--number {
        font-size: 0.9rem;
      }
    }

    &__avatar img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    &__unread {
      background: $gray_400;
      color: $white;
      position: absolute;
      right: 1rem;
      align-self: flex-end;
      padding: 1px 15px;
      border-radius: 1rem;
    }
  }
}
